.header {
  font-family: "Roboto", sans-serif;
  margin-top: 32px;
  padding: 0;
  width: 100%;
  text-align: center;
}

.header__title {
  font-family: inherit;
  font-weight: 900;
  font-size: 50px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-shadow: 3px 2px 2px rgba(132, 150, 135, 0.264);
}

.header__author {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.2;
  padding: 0;
}

@media screen and (max-width: 880px) {
  .header__title {
    font-size: calc(50px - 25%);
  }

  .header__author {
    font-size: 20px;
  }
}

@media screen and (max-width: 725px) {
  .header__title {
    font-size: calc(50px - 50%);
  }

  .header__author {
    font-size: 18px;
  }
}

@media screen and (max-width: 670px) {
  .header__author {
    font-size: 14px;
  }
}

@media screen and (max-width: 460px) {
  .header__title {
    font-size: calc(50px - 80%);
  }

  .header__author {
    font-size: 12px;
  }
}

@media screen and (max-width: 430px) {
  .header__title {
    font-size: calc(50px - 85%);
  }
}

@media screen and (max-width: 320px) {
  .header__title {
    font-size: 30px;
  }

  .header__author {
    font-size: 12px;
  }
}
