.nav {
  margin: 0;
}
.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin: 8px 5px;
  padding: 0;
  justify-content: right;
}

.nav__link {
  font-family: inherit;
  font-weight: bold;
  color: #2c2c2c;
  text-decoration: none;
  cursor: pointer;
}

.nav__link:hover {
  color: #978648;
}
