.skills__section {
  background-color: #222623;
  color: #f7f5ee;
  margin: 0;
  padding: 20px;
}

.skills__title {
  margin: 10px 0 20px;
  font-size: 25px;
  text-align: center;
}

.skills__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.skills__item {
  margin: 10px;
  flex-direction: column;
  flex-wrap: wrap;
}

.skills__image {
  margin: 10px;
  padding-bottom: 20px;
  height: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
}

/*
@media screen and (max-width: 1100px) {
  .skills__section  {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }

  .skills__title {
}

@media screen and (max-width: 880px) {}
@media screen and (max-width: 725px) {}
@media screen and (max-width: 670px) {}
@media screen and (max-width: 460px) {}
@media screen and (max-width: 430px) {}
*/
@media screen (min-width: 320px) and (max-width: 1100px) {
  .skills__section {
    width: 100vw;
    height: 100vh;
  }

  .skills__title {
    font-size: calc(25px - 90%);
  }

  .skills__list {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .skills__item {
  }

  .skills__image {
  }
}
